<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Evitar ataques de injeção de código malicioso -->
<meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline'">
    <title>Conestv3</title>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <!--<h1>Conestv3</h1>-->
    <!-- Numeração de linhas -->
    <div id="linhas">

    </div>
    <!-- EDITOR DO CÒDIGO-->
    <div class="container button">
        <img src="../public/img/client.png" alt="clientes" title="Clientes" onclick="clientes()">
        <img src="../public/img/suplier.png" alt="fornecedor" title="Fornecedor" onclick="fornecedor()">
        <img src="../public/img/product.png" alt="produtos" title="Produtos" onclick="produtos()">
        <img src="../public/img/report.png" alt="relatorios" title="Realatorios" onclick="relatorios()">
    </div>
    <footer>
        <p id="dataAtual"></p>
        <img src="../public/img/dboff.png" alt="icone do banco de dados" id="iconDB">
    </footer>
    </div>
    <script src="../public//js/bootstrap.min.js"></script>
    <script src="renderer.js"></script>
</body>
</html>